@model ST10140587_CLDV6212_Part2.Models.Order

@{
    ViewBag.Title = "Order Details";
}

<h2>Order Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Order ID</dt>
        <dd class="col-sm-10">@Model.RowKey</dd>

        <dt class="col-sm-2">Customer Name</dt>
        <dd class="col-sm-10">@Model.CustomerName</dd>

        <dt class="col-sm-2">Order Address</dt>
        <dd class="col-sm-10">@Model.Order_Address</dd>

        <dt class="col-sm-2">Order Date</dt>
        <dd class="col-sm-10">@Model.OrderDate.ToString("yyyy-MM-dd")</dd>

        <dt class="col-sm-2">Total Price</dt>
        <dd class="col-sm-10">@Model.TotalPrice</dd>

        <dt class="col-sm-2">Order Status</dt>
        <dd class="col-sm-10">@Model.OrderStatus</dd>
    </dl>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
